body {
  background-color: #1f0955;
}

h1 {
  font-size: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: cursive;
  color: whitesmoke;
  margin: 0px;
  margin-top: 20px;
}

.button-container {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
}

button {
  width: 220px;
  height: 35px;
  border: none;
  border-radius: 10px;
  font-family : inherit;
  font-size: 15px;
  background-color: #0a664f;
  color: whitesmoke;
  transition: 0.4s;
}

button:hover {
  background-color:#074636;
  color: whitesmoke;
  cursor: pointer;
}

.instructions {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  /* margin-bottom: 20px; */
}

.title {
  text-align: center;
  font-style: italic;
  color: whitesmoke;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  margin: 0px;
  margin-top: 20px;
}

img {
  height: 500px;
  
  
}

.picture-frame {
  border: 20px ridge goldenrod;
  
}

.img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}


.art-info-container {
  width: 100%;
  text-align: center;
  font-style: italic;
  display: inline-flex;
  justify-content: space-evenly;
}

.medium-container {
  width: 100%;
  font-style: italic;
  display: inline-flex;
  justify-content: center;
  padding: 0px;
}

div {
  color: whitesmoke;
  font-size: large;
  font-style: normal;
}

