h1 {
  font-size: xx-large;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #311175;
  font-family: helvetica;
  color: whitesmoke;
}

div.container {
  width: 100%;
  height: 50px;
  display: inline-flex;
  justify-content: space-evenly;
  border: 20 px gold;
}

button {
  width: 200px;
  height: 30px;
  background-color: #ffce42;
}

button:hover {
  background-color:#9d8810;
  color: whitesmoke;
}

div.pcontainer {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  border: 20px gold;
}

img {
  width: 700px;
  height: 500px;
  object-fit: contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px gold;
}

div.desc {
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  border: 10px gold;
}

div {
  color: whitesmoke;
  font-size: large;
  font-style: italic;
}
body {
  background-color: #311175;
}